<div class="flex flex-col items-center justify-center py-8 px-4">

  <p-card class="max-w-5xl w-full text-center shadow-xl rounded-xl border-none">
    <h1 class="text-5xl md:text-6xl font-serif italic text-gray-900 mb-6 tracking-wide">
      You're Invited!
    </h1>
    <p class="text-xl md:text-2xl text-gray-700 mb-8 leading-relaxed">
      {{ invitationMessage }}
    </p>

    <h2 class="text-6xl md:text-7xl font-serif font-bold text-gray-800 mb-8 leading-tight">
      {{ coupleNames }}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-left my-12">
      <p-fieldset legend="When" styleClass="bg-cream-50 shadow-sm border border-cream-100 rounded-lg">
        <p class="text-xl text-gray-600 font-semibold">{{ weddingDate }}</p>
        <p class="text-xl text-gray-600">{{ weddingTime }}</p>
      </p-fieldset>

      <p-fieldset legend="Where" styleClass="bg-cream-50 shadow-sm border border-cream-100 rounded-lg">
        <p class="text-xl text-gray-600 font-semibold">{{ ceremonyLocation }}</p>
        <p class="text-md text-gray-500 mt-1">Ceremony & Reception</p>
      </p-fieldset>

      <p-fieldset legend="Dress Code" styleClass="md:col-span-2 bg-cream-50 shadow-sm border border-cream-100 rounded-lg">
        <p class="text-xl text-gray-600">{{ dressCode }}</p>
      </p-fieldset>
    </div>

    <p class="text-xl md:text-2xl text-gray-700 mb-12 leading-relaxed">
      {{ invitationClosing }}
    </p>

    <p-divider class="max-w-sm mx-auto"></p-divider>

    <p-panel [header]="irelandTravelDetails.heading" class="text-left mt-10 bg-cream-100 rounded-lg shadow-md border border-cream-200">
      <p class="text-lg text-gray-600 mb-6 leading-relaxed">
        {{ irelandTravelDetails.message }}
      </p>
      <ul class="list-disc list-inside text-gray-600 space-y-4">
        <li class="text-lg"><span class="font-semibold">Passport Validity:</span> {{ irelandTravelDetails.passportReminder }}</li>
        <li class="text-lg"><span class="font-semibold">Currency:</span> {{ irelandTravelDetails.currency }}</li>
        <li class="text-lg"><span class="font-semibold">Language:</span> {{ irelandTravelDetails.language }}</li>
        <li class="text-lg"><span class="font-semibold">Driving:</span> {{ irelandTravelDetails.driving }}</li>
      </ul>
      <p class="text-lg text-gray-600 mt-6">
        More detailed travel information can be found on our <span class="font-semibold text-gold-400">Travel Info</span> page.
      </p>
    </p-panel>

    <div class="mt-12">
      <p class="text-gray-700 text-2xl mb-6 font-semibold">
        Kindly RSVP by August 1st, 2026
      </p>
      <p-button
        label="RSVP Now"
        routerLink="/rsvp"
        raised="true"
        size="large"
        rounded="true"

        styleClass="shadow-lg bg-rose-400 hover:bg-rose-500 transition duration-300 ease-in-out transform hover:scale-105">
      </p-button>
    </div>
  </p-card>
</div>
